@model _17bangMVC.Models.UserModel
<div class="col-md col-md-push-1" style="margin:54px 150px;">
    <div class="well well-sm" style="padding-left: 20px;">
        <i class="glyphicon glyphicon-calendar"></i>
        <i class="glyphicon glyphicon-thumbs-up"></i>
        因为注册时使用了<a href="#">urbbr</a>的邀请码，系统赠送给 <a href="#">hanpeng</a>
        ① 10点 <a href="#"><i class=" glyphicon glyphicon-tint" style="color:blue"></i>帮帮点</a>帮帮点
        <a href="#" class="pull-right"><i class="glyphicon glyphicon-hand-right"></i>全部消息</a>
    </div>
</div>
<script>

</script>