@page
@model MyWebApp.Pages.FAQ.WelcomeModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="pinterest" />
    <title>常见问题·一起帮</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://17bang.ren/Images/logo-big.ico" media="screen" />
    <style>
        a {
            text-decoration: none
        }

            a:hover {
                color: blue
            }

            a:active {
                text-decoration: underline
            }
    </style>
</head>

<body>
    <!--模拟常见问题页面，完成其内容页部分（只显示内容，练习：hX/a/hr，忽略其他如图标/样式等）
    参考如何获得帮帮点，完成里面的表格。然后将“注册”和“邀请注册”上下两格合并。（练习：表格绘制和行列合并）
    阅读收看：源栈培训：功能索引http://17bang.ren/Article/589
    完成任一内容（求助/文章/意见建议）板块的列表页和单页的HTML内容，注意包含：

    完整的html文档结构（html/head/body）
    页头/页脚/正文/侧边栏等（header/footer/article/aside）
    标题/段落/图片/链接/强调/删除……等-->
    <header style="position:fixed">
        <span>一起帮  网络互助平台</span>

        <span><a href="#">求助</a></span>
        <span><a href="#">督促</a></span>
        <span> <a href="#">文章</a></span>
        <span><a href="#">用户</a></span>
    </header>
    <main>
        <h2>常见问题</h2>
        <hr />
        <h3><a href="#">账户</a></h3>

        <p><a href="#">Q：邀请码是怎么一回事？</a></p>
        <p><a href="#">Q：为什么会提示“邀请人数达到上限”？</a></p>
        <p><a href="#">Q：系统如何是确定“最后（上次）登录时间”的？</a></p>
        <p><a href="#">Q：“最后登录时间”有什么用处？</a></p>
        <p><a href="#">Q：邮箱有什么作用？         </a></p>
        <p><a href="#">Q：为什么我收不到邮件通知？  </a></p>

        <h3><a href="#">帮帮点</a></h3>

        <p><a href="#">什么是帮帮点? 有什么用处?</a></p>
        <p><a href="#">如何获取帮帮点？         </a></p>
        <h3><a href="#">帮帮币</a></h3>


        <p><a href="#">Q：什么是帮帮币？有什么用处？    </a> </p>
        <p><a href="#">Q：引入“帮帮币”的目的是什么？    </a> </p>
        <p><a href="#">Q：作为买方，如何保证交易安全？？ </a> </p>
        <p><a href="#">Q：如何出售帮帮币？？            </a> </p>
        <p><a href="#">Q：如何成为“系统推荐卖家”？？     </a> </p>
        <p><a href="#">Q：作为卖方，如何保证交易安全？？ </a> </p>
        <p><a href="#">Q：帮帮币出售时为什么要设置“门槛”？</a> </p>


        <h3><a href="#">帮帮豆</a></h3>
        p
        <p><a href="#">Q：什么是帮帮豆？有什么用处？</a></p>

        <p><a href="#">Q：怎么获取帮帮豆？</a></p>

        <p><a href="#">Q：为什么我反复登录帮帮豆都没有变化？</a></p>
        <p><a href="#">Q：我昨天剩余的帮帮豆那去了？</a></p>
        <p><a href="#">Q：一张表区分帮帮“点/豆/币”？</a></p>

        <h3><a href="#">消息和通知</a></h3>

        <p><a href="#">Q：用户消息和系统通知有什么区别？</a></p>
        <p><a href="#">Q：如何设置用户消息接收？</a></p>
        <p><a href="#">Q：我能不能禁用掉系统通知？</a></p>

        <h3><a href="#">求助流程</a></h3>

        <p><a href="#">Q：为什么发布一个求助这么麻烦？</a></p>
        <p><a href="#">Q：正常的求助流程应该是怎样的？</a></p>
        <p><a href="#">Q：那么，“非正常”的求助流程呢？   </a></p>
        <p><a href="#">Q：应答上面的图标有何含义？</a></p>
        <p><a href="#">Q：发布如何设置悬赏数额？</a></p>
        <p><a href="#">Q：“据实结算”是怎么一回事？</a></p>
        <p><a href="#">Q：“开始协助”如何操作的？为什么非常重要？</a></p>
        <p><a href="#">Q：协助超时提醒是怎么回事？</a></p>
        <p><a href="#">Q：求助人一直不酬谢帮帮币怎么办？   </a></p>
        <p><a href="#">Q：酬谢时默认的评价为什么是四星？</a></p>
        <p><a href="#">Q：问题没有解决？</a></p>
        <p><a href="#">Q：为什么求助没有解决也要扣我的帮帮币？/(ㄒoㄒ)/~~</a></p>
        <p><a href="#">Q：为什么要写总结？</a></p>
        <p><a href="#">Q：什么时候可以撤销？</a></p>

        <h3><a href="#">督促</a></h3>

        <p><a href="#">Q：简单介绍一下“督促”这个功能吧？</a></p>
        <p><a href="#">Q：什么是“目标”？什么是“作业”？</a></p>
        <p><a href="#">Q：为什么“交作业”可以延期，还可以请假？</a></p>
        <p><a href="#">Q：如何设置和提交“证据”？  </a></p>
        <p><a href="#">Q：如何选择“好心人”的人数？</a></p>
        <p><a href="#">Q：不交作业的惩罚是……？</a></p>
        <p><a href="#">Q：好心人如何获得未交作业的奖励？</a></p>

        <p><a href="#">Q：交上去的作业被无理拒绝验收怎么办？</a></p>


        <p><a href="#">Q：不想玩了肿么办？</a></p>
        <p><a href="#">Q：完成情况里的图标是什么意思？</a></p>


        <h3><a href="#">文章</a></h3>

        <p><a href="#">Q：如何成为精选评论？</a></p>

        <h3><a href="#">意见建议</a></h3>

        <p><a href="#">Q：为什么会获得管理员奖励？</a></p>


        <h3><a href="#">关键字</a></h3>

        <p><a href="#">Q：发布求助时为什么要填写关键字？</a></p>
        <p><a href="#">Q：关键字如何填写为佳？</a></p>
        <p><a href="#">Q：什么是用户关注的关键字？</a></p>
        <p><a href="#">Q：用户关注有什么用？</a></p>
        <p><a href="#">Q：用户关注如何设置？</a></p>
        <p><a href="#">Q：用户关注自动如何补足？</a></p>

        <h3><a href="#">广告推广</a></h3>

        <p><a href="#">Q：为什么会允许社区用户在“一起帮”上做广告推广？</a></p>
        <p><a href="#">Q：“一起帮”有哪些推广形式？</a></p>
        <p><a href="#">Q：“联系方式栏推广”里的捐赠是什么意思？</a></p>
        <p><a href="#">Q：侧边栏广告的花费？</a></p>
        <p><a href="#">Q：文章下面的广告如何发布？</a></p>


        <h3><a href="#">捐赠</a></h3>

        <p><a href="#">Q：为什么会想到“捐赠”？</a></p>
        <p><a href="#">Q：为什么要留下用户名？</a></p>
        <p><a href="#">Q：没有在“一起帮”注册可以捐赠吗？</a></p>
        <p><a href="#">Q：“认领”是一个什么概念？</a></p>


        <h3><a href="#">测试</a></h3>

        <p><a href="#">Q：为什么会有“新人”测试？</a></p>
        <p><a href="#">Q：为什么会有“首次求助”测试？</a></p>


    </main>
    <footer>
        <span><a href="#">关于我们</a></span>
        <span><a href="#">源站课堂</a></span>
        <span><a href="#">常见问题</a></span>
        <span><a href="#">意见建议</a></span>
        <span><a href="#">历史通知</a></span>
        <span><a href="#">友情捐赠</a></span>
        <span><a href="#">诚邀合伙人</a></span>

    </footer>

</body>
</html>