@page "{Id?}"
@model MyWebApp.Pages.Profile.WriteModel
@{
    Layout = "Layout/_Dual";
}
<!DOCTYPE html>
<html>
<head>
    @section head{
        <meta charset="utf-8" />
        <link href="https://17bang.ren/Images/logo-big.ico" rel="shortcut icon" type="image/x-icon" media="screen" />
        <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="../css/MyStyle.css" rel="stylesheet" />
        <link href="../fons/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
        <title>个人资料 一起帮</title>
    }

</head>
<body>

    <main style="margin-top: 60px;">

        <div class="container">
            <div class="row">

                <div class="col-12"><h2><i class="fa fa-user-circle"></i>个人资料</h2></div>
            </div>
            <hr />


            <div class="container">

                <div class="row">

                    <div class="col">
                        <form action="/" method="post" enctype="multipart/form-data">
                            <a href="0" class="pull-right"><i class="fa fa-question-circle"></i>说明</a><br />
                            <label>头像：（* 仅限jpg/png/gif）<br /></label><br />
                            <div class="custom-file" accept="image/x-rgb">
                                <input type="file" accept="image/x-rgb" class="custom-file-input" id="customFileLangHTML">
                                <label accept="image/x-rgb" class="custom-file-label" for="customFileLangHTML" data-browse="浏览">页面提交时上传文件</label>
                            </div>
                            <label>性别：</label>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" value="true" asp-for="NewUser.IsMale">
                                    男
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" value="false" asp-for="NewUser.IsMale">
                                    女
                                </label>
                            </div><br />
                            <label>生日：<br /></label><br />
                            <div style="display:flex;height:34px;" >

                                <select class="form-control" asp-for="Year" asp-items="Model.YearSelectLists">
                                </select>

                                <span class="input-group-text">年</span>

                                <select class="form-control" asp-for="Month" asp-items="Model.MonthSelectLists">
                                </select>
                                <span class="input-group-text">月</span>


                                <select class="form-control" asp-for="Constellation" asp-items="Model.ConstellationSelectLists">
                                </select>

                                <span class="input-group-text">星座</span><br />

                            </div>

                           
                            @*<div class="d-flex">
                                    <div class="btn-group">
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-outline-secondary" style=" border-radius:5px 0px 0px 5px;">Action</button>
                                            <button style=" border-radius:0px 0px 0px 0px;" type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false">
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu "  style=" border-radius:0px 0px 0px 0px;">
                                                <a class="dropdown-item" href="#">2016</a>
                                                <a class="dropdown-item" href="#">2015</a>
                                                <a class="dropdown-item" href="#">2014</a>
                                                <a class="dropdown-item" href="#">2013</a>
                                                <a class="dropdown-item" href="#">2012</a>
                                                <a class="dropdown-item" href="#">2011</a>
                                                <a class="dropdown-item" href="#">2010</a>
                                                <a class="dropdown-item" href="#">2009</a>
                                                <a class="dropdown-item" href="#">2008</a>
                                                <a class="dropdown-item" href="#">2007</a>
                                                <a class="dropdown-item" href="#">2006</a>
                                                <a class="dropdown-item" href="#">2005</a>
                                                <a class="dropdown-item" href="#">2004</a>
                                                <a class="dropdown-item" href="#">2003</a>
                                                <a class="dropdown-item" href="#">2002</a>
                                                <a class="dropdown-item" href="#">2001</a>
                                                <a class="dropdown-item" href="#">2000</a>
                                                <a class="dropdown-item" href="#">1999</a>
                                                <a class="dropdown-item" href="#">1998</a>
                                                <a class="dropdown-item" href="#">1997</a>
                                                <a class="dropdown-item" href="#">1996</a>
                                                <a class="dropdown-item" href="#">1995</a>
                                                <a class="dropdown-item" href="#">1994</a>
                                                <a class="dropdown-item" href="#">1993</a>
                                                <a class="dropdown-item" href="#">1992</a>
                                                <a class="dropdown-item" href="#">1991</a>
                                                <a class="dropdown-item" href="#">1990</a>
                                                <a class="dropdown-item" href="#">1899</a>
                                                <a class="dropdown-item" href="#">1898</a>
                                                <a class="dropdown-item" href="#">1897</a>
                                                <a class="dropdown-item" href="#">1896</a>
                                            </div>
                                        </div>

                                        <span class="input-group-addon" style=" border-radius:0px 0px 0px 0px;">年</span>

                                        <div class="input-group-append" style="float:left">
                                            <button type="button" class="btn btn-outline-secondary" style=" border-radius:0px 0px 0px 0px;">Action</button>
                                            <button style=" border-radius:0px 0px 0px 0px;" type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false">
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu">

                                                <a class="dropdown-item" href="#">1</a>
                                                <a class="dropdown-item" href="#">2</a>
                                                <a class="dropdown-item" href="#">3</a>
                                                <a class="dropdown-item" href="#">4</a>
                                                <a class="dropdown-item" href="#">5</a>
                                                <a class="dropdown-item" href="#">6</a>
                                                <a class="dropdown-item" href="#">7</a>
                                                <a class="dropdown-item" href="#">8</a>
                                                <a class="dropdown-item" href="#">9</a>
                                                <a class="dropdown-item" href="#">10</a>
                                                <a class="dropdown-item" href="#">11</a>
                                                <a class="dropdown-item" href="#">12</a>

                                            </div>
                                        </div>

                                        <span class="input-group-addon" style=" border-radius:0px 0px 0px 0px;">月</span>
                                        <div class="input-group">

                                            <div class="input-group-append">
                                                <button type="button" class="btn btn-outline-secondary">Action</button>
                                                <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false">
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <div class="dropdown-menu">

                                                    <a class="dropdown-item" href="#">白羊座 </a>
                                                    <a class="dropdown-item" href="#">金牛座 </a>
                                                    <a class="dropdown-item" href="#">双子座 </a>
                                                    <a class="dropdown-item" href="#">巨蟹座 </a>
                                                    <a class="dropdown-item" href="#">狮子座 </a>
                                                    <a class="dropdown-item" href="#">处女座 </a>
                                                    <a class="dropdown-item" href="#">天平座 </a>
                                                    <a class="dropdown-item" href="#">天蝎座 </a>
                                                    <a class="dropdown-item" href="#">射手座 </a>
                                                    <a class="dropdown-item" href="#">魔蝎座 </a>
                                                    <a class="dropdown-item" href="#">水瓶座 </a>
                                                    <a class="dropdown-item" href="#">双鱼座 </a>
                                                </div>
                                            </div>
                                            <span class="input-group-addon" style=" border-radius:0px 5px 5px 0px;">星座</span>
                                        </div>
                                    </div>
                                </div>*@


                            <label>关键字：（* 使用空格分隔）<br /></label><br />

                            <div class="input-group mb-3 ">
                                <button type="button" style=" border-radius:5px 0px 0px 5px;" class="btn btn-light  border-s">--1级--</button>
                                <button type="button" style=" border-radius:0px 0px 0px 0px;" class="btn btn-default dropdown-toggle border-s" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <button type="button" style=" border-radius:0px 0px 0px 0px;" class="btn btn-light border-s">--2级--</button>
                                <button type="button" style=" border-radius:0px 0px 0px 0px;" class="btn btn-default dropdown-toggle border-s" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <input type="text" style=" height: 38px;  border-radius:0px 5px 5px 0px;" class="form-control" placeholder="自定义关键子，使用空格分隔" aria-label="Dollar amount (with dot and two decimal places)">
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">自我介绍：</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="简单的介绍一下自己吧，不超过三十个字"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary" value="提交" style="background-color:#337ab7">提交</button>
                        </form>
                    </div>



                    <div class="col-7">
                        <h3><i class="fa fa-question-circle"></i> 说明</h3>
                        <ol>
                            <li>头像仅接受jpg/png/gif格式，大小不超过256KB。</li>
                            <li>头像图片的建议宽度为300像素左右，过宽或过窄都有可能失真。</li>
                            <li>自我介绍的字数不要超过255字。</li>
                        </ol>
                    </div>
                </div>
            </div>

            <hr />
        </div>


    </main>
</body>
</html>