@model  List<ViewModel.KeywordsModel>


<div id="keywords">
    @foreach (var item in Model)
    {
        <span class="badge badge-pill badge-dark" style="margin-top:10px;" margin-left:20px">@item.Keyword</span>
    }
    <hr />

</div>


