
@{
    ViewBag.Title = "发布新目标 一起帮";
}
<style>
    /*.container {
        display: flex;*/ /* or inline-flex */ /*\

    }*/
    .item {
        order: 2;
    }
</style>

<div>
    <h1><i class="glyphicon glyphicon-edit"></i>发布新目标</h1>
    <hr />
</div>
<br />
<div style="display:flex ;">
    <div >
        <form action="/" method="post"  style="width:400px">
            <label>标题（必填）:</label><br />
            <input type="text" class="form-control" placeholder="简明扼要，多个目标请分开发布" aria-describedby="sizing-addon1">
            <label>详细说明（必填）:</label><br />
            <textarea class="form-control" placeholder="补充你认为需要说明的其他信息。比如：求温柔/凶狠好心人，最好同城/校……" aria-describedby="sizing-addon1"></textarea>
            <label>标签（必填）:</label><br />
            <input type="text" class="form-control" placeholder="多个标签之间请用空格分开" aria-describedby="sizing-addon1">
            <label>开始执行（必填）:</label><br />
            <input type="datetime-local" class="form-control" placeholder="" aria-describedby="sizing-addon1">
            <label><i class="glyphicon glyphicon-question-sign"></i>目标结束（必填）:</label><br />
            <input type="datetime-local" class="form-control" placeholder="" aria-describedby="sizing-addon1">
            <label> <i class="glyphicon glyphicon-question-sign"></i>每周交作业时间（必填）:</label><br />
            <table class="table table-bordered">
                <tr>
                    <th>一</th>
                    <th>二</th>
                    <th>三</th>
                    <th>四</th>
                    <th>五</th>
                    <th>六</th>
                    <th>日</th>
                </tr>
                <tr>
                    <td><input type="checkbox" name="name" value="" checked /></td>
                    <td><input type="checkbox" name="name" value="" checked /></td>
                    <td><input type="checkbox" name="name" value="" checked /></td>
                    <td><input type="checkbox" name="name" value="" checked /></td>
                    <td><input type="checkbox" name="name" value="" checked /></td>
                    <td><input type="checkbox" name="name" value="" checked /></td>
                    <td><input type="checkbox" name="name" value="" checked /></td>

                </tr>
            </table>
            <label><i class="glyphicon glyphicon-question-sign"></i>每周可请假:</label><br />
            <div class="input-group">
                <select type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    <option value="value">0</option>
                    <option value="value">1</option>
                    <option value="value">2</option>
                    <option value="value">3</option>
                    <option value="value">4</option>
                    <option value="value">5</option>
                    <option value="value">6</option>
                </select>
                <span class="input-group-addon">天</span>
            </div>

            <label><i class="glyphicon glyphicon-question-sign"></i>证明:</label><br />
            <input type="text" class="form-control" placeholder="证据的文字描述" aria-describedby="sizing-addon1">
            <br />
            <input type="text" class="form-control" placeholder="可访问的网页，详见说明" aria-describedby="sizing-addon1">
            <label><i class="glyphicon glyphicon-question-sign"></i>好心人最多:</label><br />
            <div class="input-group">
                <select type="text" class="form-control" aria-label="Amount (to the nearest dollar)">

                    <option value="value">1</option>
                    <option value="value">2</option>
                    <option value="value">3</option>
                    <option value="value">4</option>
                    <option value="value">5</option>

                </select>
                <span class="input-group-addon">人</span>
            </div>
            <label><i class="glyphicon glyphicon-question-sign"></i>未交作业罚金（必填）:（现拥有0枚<i class="glyphicon glyphicon-refresh"></i>）</label><br />
            @*<div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-jpy"></i></span>

                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="正整数建议十枚以上" />
                <span class="input-group-addon">枚</span>
            </div>*@
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-jpy"></span></span>
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                <span class="input-group-addon">枚</span>
            </div>
            <a href="#" class="pull-right"><i class="glyphicon glyphicon-question-sign"></i>如何获得帮帮币</a><br />
            <button type="submit" class="btn btn-primary">提交</button>
            <label style="margin-left:10px;">
                <input type="checkbox" value="" checked>
                继续
            </label>
        </form>
    </div>
    <div style="margin-left:200px">
        <h3><a href="#"><i class="glyphicon glyphicon-question-sign"></i>说明</a></h3>
        <ol>
            <li>
                简单来说，“一起督促吧”就干这三件事：
                <ul>
                    <li>发布一个目标，押上一堆 帮帮币 </li>
                    <li>每天交作业。如果未交作业，“帮帮币”没了，(；′⌒`) </li>
                    <li>一群人互相督促，交上来的作业得验收/拒收，未交作业的“帮帮币”大家抢！</li>
                </ul>
            </li>
            <li>
                管用不管用？你试试看啊。我之前用过（现在也在用：每天一篇博客），还是蛮不错的。因为：
                <ul>
                    <li>会有压力。当前，前提是你要设置让你足够“肉痛”的未交作业惩罚</li>
                    <li>有伴。人是一种社会动物，很多时候我们是被寂寞打败的。一件不是那么容易坚持的事，几个人一起做，就不显得那么难了——当然，要志同道合，拖后腿的损友除外。 </li>
                    <li>有成就感。“一起督促吧”会记录下你每一天的完成情况，一段时间回头看看，还是蛮有成就感的。 </li>
                </ul>
            </li>
            <li>目标应明确独立，多个目标请分开发布。比如你虽然是同时既想健身又想学英语，但还是将其发布为两个个目标为佳。</li>
            <li>标题以简明扼要为佳，比如：每天跑步三十分钟。</li>
            <li>详细说明和标签都有助于你别人了解你的目标，帮助你找到最“合适”的“好心人”</li>
            <li>建议你设置一个目标完成的时间，这样能阶段性的检查总结，更有成就感</li>
            <li>我们按“周”来计划目标的具体完成步骤（任务）。比如你计划每周星期一到星期五学习、周末休息，你就只需要勾选周一到周五即可，周末不要勾选。系统会自动忽略你未勾选的天数。而所有已勾选的天数，你都应该及时的“交作业”并由“好心人”验收，否则你的任务记录会判罚为“未交作业”</li>
        </ol>
    </div>
</div>


