@*@model _17bangMVC.Models.UserModel*@
@model ViewModel.RegisterModel
@using (Html.BeginForm())
{

    <label>邀请人</label>
    <br />
    @Html.TextBoxFor(m => m.InviterBy)
    <br />
    <label>用户名</label>
    <br />

    @Html.TextBoxFor(m => m.Name)
    <br />

    <label>密码</label>
    <br />
    @Html.PasswordFor(m => m.Password)
    <br />
    @*<img src="~/Shared/_GetCaptcha" alt="Alternate Text" />*@
    @Html.Partial("~/Views/Shared/Index.cshtml", new _17bangMVC.Controllers.SharedController());
    <button type="submit">提交</button>
}
