@model NewViewModel.UserModel

@{
    ViewBag.Title = "一起帮·注册";
}

<h2>注册</h2>

@using (Html.BeginForm())
{

    <label>邀请人</label>
    <br />
    @Html.TextBoxFor(m => m.InviterBy)
    <br />

    <label>邀请码</label>
    <br />
    @Html.TextBoxFor(m => m.InviterByCode)
    <br />
    <label>用户名</label>
    <br />

    @Html.TextBoxFor(m => m.Name)
    <br />

    <label>密码</label>
    <br />
    @Html.PasswordFor(m => m.Password)
    <br />
    <button type="submit">提交</button>
}